@use "../partials/_reset";
@use "../partials/_header";
@use "../partials/_footer";
@use "../partials/_index";

@import "../partials/_variables";

.top-content,
.bottom-content {
  display: flex;
  padding: 20px 10px;
}

.top-content {
  .left-side {
    max-width: 60%;
    width: 100%;

    .introduction {
      .header-label {
        font-size: 22px;
        font-family: mulish;
        color: $blue;
        font-weight: bold;
        margin: 25px 0;
      }

      .designer-label {
        color: $blue;
      }

      .description {
        font-family: "Mulish";
        font-size: 40px;
        font-weight: bold;
      }
    }
  }

  .right-side {
    max-width: 40%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;

    .design-theme {
      font-style: italic;
      color: $grey;
    }
  }
}

.grid-container {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(32, 1fr);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image1 {
    grid-row: 1 / span 7;
    grid-column: 1 / span 1;
  }

  .image2 {
    grid-row: 1 / span 6;
    grid-column: 2 / span 1;
  }

  .image3 {
    grid-row: 1 / span 10;
    grid-column: 3 / span 1;
  }

  .image4 {
    grid-row: 8 / span 8;
    grid-column: 1 / span 1;
  }

  .image5 {
    grid-row: 7 / span 7;
    grid-column: 2 / span 1;
  }

  .image6 {
    grid-row: 11 / span 7;
    grid-column: 3 / span 1;
  }

  .image7 {
    grid-row: 16 / span 8;
    grid-column: 1 / span 1;
  }

  .image8 {
    grid-row: 14 / span 9;
    grid-column: 2 / span 1;
  }

  .image9 {
    grid-row: 18 / span 9;
    grid-column: 3 / span 1;
  }

  .image10 {
    grid-row: 24 / span 9;
    grid-column: 1 / span 1;
  }

  .image11 {
    grid-row: 23 / span 10;
    grid-column: 2 / span 1;
  }

  .image12 {
    grid-row: 27 / span 6;
    grid-column: 3 / span 1;
  }
}

.bottom-content {
  margin-top: 20px;

  .left-side {
    max-width: 60%;
    width: 100%;

    .description {
      font-size: 28px;
      font-family: mulish;
      font-style: bold;
      line-height: 38px;
    }
  }

  .right-side {
    max-width: 40%;
    width: 100%;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;

    .services {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-family: mulish;
      color: $grey;
    }
  }
}

.awards {
  margin-top: 40px;

  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    border-top: 1px solid $grey;
    padding-top: 20px;
  }

  .main-label {
    font-family: "Mullish";
    font-size: 22px;
    font-weight: bold;
  }

  .sub-label {
    font-family: "Mullish";
    font-size: 18px;
    font-weight: bold;
  }

  .label,
  .label-header,
  .label-text,
  .label-year {
    font-family: "Mullish";
    font-size: 16px;
  }

  .label-text {
    color: $grey;
    margin-top: 10px;
  }

  .label-year {
    text-align: end;
  }
}

.footer {
  border-top: 1px solid $grey;
  padding-top: 40px;
}
