@use "../partials/_reset";
@use "../partials/_header";
@use "../partials/_footer";
@use "../partials/_index";

.header-label {
  font-size: 22px;
  font-family: mulish;
  font-weight: bold;
  margin: 25px 0;
}

.description {
  font-family: "Mulish";
  font-size: 16px;
  line-height: 26px;
  padding: 20px 0;
}

.top-content {
  display: flex;
  padding: 10px;
  margin-top: 40px;

  .left-side {
    max-width: 70%;
    width: 100%;
  }

  .right-side {
    max-width: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;

    .grid-table {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      max-width: 300px;
    }

    .grid-table {
      padding: 10px;

      .table-item {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #949191;

        &:first {
          padding-top: 0;
        }

        .label {
          color: #949191;
          font-weight: bold;
        }
        .value {
          font-weight: bold;
          padding-left: 15px;
        }
      }
    }
  }
}

.portrait {
  padding: 10px;
  img {
    width: 100%;
    height: 100%;
  }
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;

  .grid-item {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
