.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 40px;

  .nav-right {
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .links {
      li {
        list-style-type: none;
        display: inline-block;
        height: 28px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        margin: 0 10px;

        a {
          font-family: "Mulish";
          font-size: 18px;
          font-weight: bold;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
