/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
.header .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav-right .links li {
  list-style-type: none;
  display: inline-block;
  height: 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  margin: 0 10px;
}
.header .nav-right .links li a {
  font-family: "Mulish";
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin-top: 40px;
}
.footer .nav-right {
  max-width: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .nav-right .links li {
  list-style-type: none;
  display: inline-block;
  height: 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  margin: 0 10px;
}
.footer .nav-right .links li a {
  font-family: "Mulish";
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

main {
  padding: 40px;
}

.top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-top: 40px;
}
.top-content .left-side {
  width: 100%;
}
.top-content .left-side .header-label {
  font-size: 22px;
  font-family: mulish;
  font-weight: bold;
  margin: 25px 0;
}
.top-content .left-side .description {
  font-family: "Mulish";
  font-size: 16px;
  line-height: 26px;
  padding: 20px 0;
}
.top-content .right-side {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.top-content .right-side .left {
  max-width: 95%;
  width: 100%;
}
.top-content .right-side .left .input-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}
.top-content .right-side .left .input-field :first {
  padding-top: 0px;
}
.top-content .right-side .left .input-field input {
  height: 50px;
  border: none;
  border-bottom: 1px solid #c1c8cb;
  outline: none;
  color: white;
  caret-color: black;
  background-color: transparent;
}
.top-content .right-side .left .btn-container {
  padding: 20px;
}
.top-content .right-side .left .btn-container button {
  width: 125px;
  height: 50px;
  background: #4a4ff2;
  color: white;
  text-transform: uppercase;
  font-family: "roboto";
  font-size: 12px;
  cursor: pointer;
}

.portrait {
  padding: 10px;
}
.portrait img {
  width: 100%;
  height: 100%;
}